body
{
	margin: 0;
	text-align: center;
	font-family: verdana,sans-serif;
	font-family: 'Merriweather', serif;
	color: #40514E
}

h1
{
	width: 20%;
	margin: 70px auto 0 auto;
	font-family: 'Sacramento', cursive;
	font-size: 562.5%;
	color: 	#FFFAFA
}

h2
{
   font-family: 'Montserrat', sans-serif;
   font-size: 250%;
   color: #FFFAFA

}
h3
{
	font-family: 'Montserrat', sans-serif;
	color: #000000;
}

p
{
	line-height: 2;
}
hr
{

	border:dotted #D3D3D3 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;
}

a
{
	font-family: 'Montserrat', sans-serif;
	margin: 10px 20px;
	text-decoration: none;
	color: 	#FFFAFA;
}
.top-container
{
	background-color: #000000
}
.Star1
{
	height: 200px;
	width: 200px;
	position: relative;
}

.Star2
{
	height: 200px;
	width: 200px;
	position: relative;
}

.Star3
{
	height: 200px;
	width: 200px;
	position: absolute;
	left:200px;
	bottom:5px;
}

.Star4
{
  height: 200px;
  width: 200px;
  position: absolute;
  right:200px;
  bottom:5px;

}

.middle-container
{
	margin: 100px 0;
}

.shreyas
{
	width: 100px;
	height: 100px;
}

.intro
{
	width: 50%;
	margin: auto;
}

.main
{
   font-family: 'Montserrat', sans-serif;
   font-size: 250%;
   color: #000000
}

.Resume
{
	width: 30%;
	margin: auto;
}


.btn {
  background: #0d0d0d;
  background-image: -webkit-linear-gradient(top, #0d0d0d, #36393b);
  background-image: -moz-linear-gradient(top, #0d0d0d, #36393b);
  background-image: -ms-linear-gradient(top, #0d0d0d, #36393b);
  background-image: -o-linear-gradient(top, #0d0d0d, #36393b);
  background-image: linear-gradient(to bottom, #0d0d0d, #36393b);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 3;
}

.btn:hover {
  background: #818485;
  background-image: -webkit-linear-gradient(top, #818485, #bfbfbf);
  background-image: -moz-linear-gradient(top, #818485, #bfbfbf);
  background-image: -ms-linear-gradient(top, #818485, #bfbfbf);
  background-image: -o-linear-gradient(top, #818485, #bfbfbf);
  background-image: linear-gradient(to bottom, #818485, #bfbfbf);
  text-decoration: none;
}


.ML_skills_image
{
   width: 400px;
   text-align: center;
   margin: auto;
   position: relative;
}
.ML
{
	width: 100%;
	display: block;
}

.image_overlay
{   position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	color: #ffffff;
	opacity: 0;
	transition: opacity 0.25s;

}
.image_overlay >*
{
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image_overlay:hover
{
	opacity: 1;
}

.image_overlay >*
{
	transform: translateY(0);
}

.Viz_skills_image
{
   width: 400px;
   margin: auto;
   position: relative;
}
.Viz
{
	width: 100%;
	display: block;
}

.viz_overlay
{   position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	color: #ffffff;
	opacity: 0;
	transition: opacity 0.25s;
	align-items: center;
	justify-content: center;
}
.viz_overlay >*
{
	transform: translateY(20px);
	transition: transform 0.25s;
}
.viz_overlay:hover
{
	opacity: 1;
}

.viz_overlay >*
{
	transform: translateY(0);
}

.Web_skills_image
{
   width: 300px;
   margin: auto;
   position: relative;
}

.Web
{
	width: 100%;
	display: block;
}

.web_overlay
{   position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	color: #ffffff;
	opacity: 0;
	transition: opacity 0.25s;
	align-items: center;
	justify-content: center;
}

.web_overlay >*
{
	transform: translateY(20px);
	transition: transform 0.25s;
}

.web_overlay:hover
{
	opacity: 1;
}

.web_overlay >*
{
	transform: translateY(0);
}

.Prog_skills_image
{
   width: 400px;
   margin: auto;
   position: relative;
}

.Prog
{
	width: 100%;
	display: block;
}

.prog_overlay
{   position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	color: #ffffff;
	opacity: 0;
	transition: opacity 0.25s;
	align-items: center;
	justify-content: center;
}

.prog_overlay >*
{
	transform: translateY(20px);
	transition: transform 0.25s;
}

.prog_overlay:hover
{
	opacity: 1;
}

.prog_overlay >*
{
	transform: translateY(0);
}

.cv_skills_image
{
   width: 300px;
   margin: auto;
   position: relative;
}

.cv
{
	width: 100%;
	display: block;
}

.cv_overlay
{   position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	color: #ffffff;
	opacity: 0;
	transition: opacity 0.25s;
	align-items: center;
	justify-content: center;
}

.cv_overlay >*
{
	transform: translateY(20px);
	transition: transform 0.25s;
}

.cv_overlay:hover
{
	opacity: 1;
}
.cv_overlay >*
{
	transform: translateY(0);
}
.touch
{
	color: #000000
}

.contact-me
{
	width: 30%;
	margin: auto;
}

.bottom-container
{
	background-color: #000000;
	padding: 50px 0 20px ;
}
.copyright
{
	color: #FFFAFA;
	font-size: 75%;
	padding: 20px 0;
}